<!DOCTYPE html>
html
    include ../partials/header.pug
    style
        include ../../public/css/main.css
    block styles 

    body 
        navBar
            include ../partials/navigation.pug
        block content
        
        footer
            include ../partials/end.pug
